<% content_for :for_head do%>
	<%= javascript_include_tag "//www.google.com/jsapi" %>
	<script type="text/javascript">
	  chart_data = <%= @chart_data.to_json.html_safe %>
	  google.load('visualization', '1.0', {'packages':['corechart']});
	  google.setOnLoadCallback(drawChart);
	</script>
<% end %>

<div class="dashboard">
  <h2> 
    <%= @project.name %> - 
    <span class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= @iteration.name %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% @project.iterations.each do | iteration | %>
        <li>
          <a href="<%= project_dashboard_index_path(project_id: @project.id, iteration_id: iteration.id) %>"><%= iteration.name %></a>
        </li>
        <% end %>
      </ul>
    </span>
  </h2>
  
  <div id="chart-container"> </div>
 
  <div class="indicators">
    <% @indicator_measures.each_with_index do | measure, index | %>
      <div class="indicator" data-indicator-value="<%= measure.mean %>">
        <span class="title">
          <%= measure.name %>
        </span>

        <span class="mean">
          <%= '%.2f' % measure.mean if measure.mean %> 
          <i class="fa <%= measure.delta %>"></i>
        </span>

        <% if measure.comments.length > 0 %>
          <a href="#" class="comments btn btn-default btn-mini badge badge-warning" data-toggle="modal" data-target="#comment-<%= index %>">
            <i class="fa fa-comment"><%= measure.comments.length %></i>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% @indicator_measures.each_with_index do | measure, index | %>
  <div class="modal fade" id="comment-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body">
          <ul>
            <% measure.comments.each do | comment | %>
              <li><%= comment.comment %></li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel-comment btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
