<div class="dashboard">
  <h2><%= @project.name %> - <%= @iteration.name %></h2>

  <div class="indicators">
    <% @indicator_measures.each_with_index do | measure, index | %>
      <div class="indicator" data-indicator-value="<%= measure.mean %>">
        <span class="title">
          <%= measure.name %>
        </span>

        <span class="mean">
          <%= '%.2f' % measure.mean if measure.mean %> 
          <i class="fa <%= measure.delta %>"></i>
        </span>

        <% if measure.comments.length > 0 %>
          <a href="#" class="comments btn btn-default btn-mini badge badge-warning" data-toggle="modal" data-target="#comment-<%= index %>">
            <i class="fa fa-comment"><%= measure.comments.length %></i>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="dashboard-navigation">
    <a href="<%= project_ratings_path(project_id: @project.id) %>" target="_blank"><i class="fa fa-bar-chart-o">Ratings</i></a>
  </div>

</div>

<% @indicator_measures.each_with_index do | measure, index | %>
  <div class="modal fade" id="comment-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body">
          <ul>
            <% measure.comments.each do | comment | %>
              <li><%= comment.comment %></li>
            <% end %>
          <ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel-comment btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function() {
    $('.indicator').each(function() {
          var value = $(this).attr('data-indicator-value');
          var colour = "#C0C0C0";

          if(value == 5) {
            colour = '#6CF556';
          } else if(value >= 4.5) {
            colour = '#89F556';
          } else if(value >= 4) {
            colour = '#A7F556';
          } else if(value >= 3.5) {
            colour = '#C5F556';
          } else if(value >= 3) {
            colour = '#E3F556';
          } else if(value >= 2.5) {
            colour = '#F5E856';
          } else if(value >= 2) {
            colour = '#F5CA56';
          } else if(value >= 1.5) {
            colour = '#F5AC56';
          } else if(value >= 1) {
            colour = '#F58E56';
          } else if(value >= 0.5) {
            colour = '#F57156';
          }

          $(this).css('background', colour);
    });
  });
</script>