<%= form_for(@span) do |f| %>
  <% if @span.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@span.errors.count, "error") %> prohibited this span from being saved:</h2>

      <ul>
      <% @span.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :sort_order %><br>
    <%= f.number_field :sort_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
