<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @span.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @span.status %>
</p>

<%= link_to 'Edit', edit_span_path(@span) %> |
<%= link_to 'Back', spans_path %>
