<div id="rating">
  <div class="row">
    <div class="rating-header">
      <%= link_to project_dashboard_index_path(@project), html_options = {class: "btn dashboard-link"} do %>
        <i class="fa fa-dashboard">Dashboard</i>
      <% end %>
      Ratings for <%= @span.name %>
    </div>
  </div>

  <% if flash[:message] %>
    <div class="row">
      <div class="alert alert-success"><%= flash[:message] %></div>
    </div>
  <% end %>

  <div class="row">
    <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
    	<% @project_indicators.each do |project_indicator| %>
        <% indicator = project_indicator.indicator%>
    		<div class="indicator unrated">
          <div class="row name">
            <span class="indicator-name"><%= indicator.name %></span>
            <button type="button" class="btn btn-primary comment-button" data-toggle="modal" data-target="#comment-<%= indicator.id %>">
              <i class="fa fa-comment"></i>
            </button>
          </div>
          <div class="row score">
            <div class="indicator-excluded">
              <i class="fa fa-ban"></i>No vote
            </div>
            <div class="indicator-slider"><%= text_field_tag("scores[#{indicator.id}]", '', :class => "slider") %></div>
          </div>

          <div class="modal fade" id="comment-<%= indicator.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Add a comment</h4>
                </div>
                <div class="modal-body">
                  <%= text_area_tag("comments[#{indicator.id}]", '', :class => "indicator-comment") %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="cancel-comment btn btn-default">Cancel</button>
                  <button type="button" class="save-comment btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>

    		</div>
    	<% end %>
    <% end %>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="rating-action">
      <%= submit_tag('Vote', :class => "btn btn-lg btn-primary btn-block") %>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.slider').slider({'min': 0, 'max': 5, 'value': 0, 'step': 0.5, 'tooltip': 'hide'})
                .on('slide', function(ev) {
                  var value = ev.value;
                  var colour = "#C0C0C0";

                  if(value == 5) {
                    colour = '#6CF556';
                  } else if(value >= 4.5) {
                    colour = '#89F556';
                  } else if(value >= 4) {
                    colour = '#A7F556';
                  } else if(value >= 3.5) {
                    colour = '#C5F556';
                  } else if(value >= 3) {
                    colour = '#E3F556';
                  } else if(value >= 2.5) {
                    colour = '#F5E856';
                  } else if(value >= 2) {
                    colour = '#F5CA56';
                  } else if(value >= 1.5) {
                    colour = '#F5AC56';
                  } else if(value >= 1) {
                    colour = '#F58E56';
                  } else if(value >= 0.5) {
                    colour = '#F57156';
                  }

                  var indicator = $(this).closest('div[class^="indicator "]');
                  var textElement = indicator.children('.score').children('.indicator-excluded');
                  if(value == 0) {
                    textElement.html('<i class="fa fa-ban"></i>No vote');
                  } else {
                    textElement.html('&nbsp;');
                  }

                  indicator.css('background', colour);
                });

    var previousComment = '';
    $('.comment-button').on('click', function(e) {
      var indicator = $(this).closest('div[class^="indicator "]');
      previousComment = indicator.find('.indicator-comment').val();
    });
    $('.cancel-comment').on('click', function(e) {
      e.preventDefault();
      var indicator = $(this).closest('div[class^="indicator "]');
      indicator.find('.indicator-comment').val(previousComment);
      indicator.children('.modal').modal('hide'); 
    });
    $('.save-comment').on('click', function(e) {
      e.preventDefault();
      var indicator = $(this).closest('div[class*="indicator"]');
      indicator.children('.modal').modal('hide'); 
    });
  });
</script>