<div id="rating">
  <div class="row">
    <div class="rating-header">
      <%= @iteration.name %>
    </div>
  </div>

  <% if flash[:message] %>
    <div class="row">
      <div class="alert alert-success"><%= flash[:message] %></div>
    </div>
  <% end %>

  <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
  	<% @indicators.each do |indicator| %>
  		<div class="row indicator">
        <div class="name">
          <%= indicator.name %>
        </div>
        <div class="score">
          <div></div>
          <div><%= text_field_tag("scores[#{indicator.id}]", '', :class => "slider") %></div>
        </div>
  		</div>
  	<% end %>

    <div class="row">
      <div class="rating-action">
        <%= submit_tag 'Vote' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('.slider').slider({'min': 0, 'max': 5, 'value': 0, 'step': 0.5, 'tooltip': 'hide'})
                .on('slide', function(ev) {
                  var value = ev.value;
                  console.log("VALUE: "+value);
                  var r = 220;
                  var g = 220;
                  var b = 220;
                  
                  if(value > 0) {
                    var r = 255 - (value * 51);
                    var g = (value * 51);
                    var b = 128;
                  }
                  var indicator = $(this).parents('div[class*="indicator"]');
                  indicator.css('background', 'rgb('+r+','+g+','+b+')');
                });
  });
</script>