<div id="rating" class="container">
  <div class="row rating-header">
    <div class="col-md-12">
      <%= @iteration.name %>
    </div>
  </div>

  <% if flash[:message] %>
    <div class="row">
      <div class="alert alert-success"><%= flash[:message] %></div>
    </div>
  <% end %>

  <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
  	<% @indicators.each do |indicator| %>
  		<div class="row">
        <div class="col-md-6">
          <%= indicator.name %>
        </div>
        <div class="col-md-12">
          <%= text_field_tag("scores[#{indicator.id}]", '', :class => "slider") %>
        </div>
  		</div>
  	<% end %>

    <div class="row rating-action">
      <div class="col-md-12">
        <%= submit_tag 'Vote' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.slider').slider({'min': 0, 'max': 5, 'value': 0, 'step': 0.5});
</script>