<div id="rating">
  <div class="row">
    <div class="rating-header">
     Ratings for  <%= @span.name %>
    </div>
  </div>

  <% if flash[:message] %>
    <div class="row">
      <div class="alert alert-success"><%= flash[:message] %></div>
    </div>
  <% end %>

  <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
  	<% @indicators.each do |indicator| %>
  		<div class="indicator">
        <div class="row name">
          <span class="indicator-name"><%= indicator.name %></span>
          <button type="button" class="btn comment-button" data-toggle="modal" data-target="#comment-<%= indicator.id %>">
            <i class="fa fa-comment"></i>
          </button>
        </div>
        <div class="row score">
          <span class="indicator-excluded">Not voting</span>
          <span class="indicator-slider"><%= text_field_tag("scores[#{indicator.id}]", '', :class => "slider") %></span>
        </div>

        <div class="modal fade" id="comment-<%= indicator.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a comment</h4>
              </div>
              <div class="modal-body">
                <%= text_area_tag("comments[#{indicator.id}]", '', :class => "indicator-comment") %>
              </div>
              <div class="modal-footer">
                <button type="button" class="cancel-comment btn btn-default">Cancel</button>
                <button type="button" class="save-comment btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>

  		</div>
  	<% end %>

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="rating-action">
        <%= submit_tag('Vote', :class => "btn btn-lg btn-primary btn-block") %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('.slider').slider({'min': 0, 'max': 5, 'value': 0, 'step': 0.5, 'tooltip': 'hide'})
                .on('slide', function(ev) {
                  var value = ev.value;
                  var colour = "#A0A0A0";
                  
                  switch(value) {
                    case 0: colour = "#A0A0A0"; break;
                    case 0.5: colour = "#A62500"; break;
                    case 1: colour = "#FF6B40"; break;
                    case 1.5: colour = "#FF9273"; break;
                    case 2: colour = "#FFB292"; break;
                    case 2.5: colour = "#FFEE77"; break;
                    case 3: colour = "#666633"; break;
                    case 3.5: colour = "#92FFB2"; break;
                    case 4: colour = "#95EE6B"; break;
                    case 4.5: colour = "#75EE3B"; break;
                    case 5: colour = "#2E8F00"; break;
                  }
                  var indicator = $(this).parents('div[class*="indicator"]');
                  if(value == 0) {
                    indicator.children('.score').children('.indicator-excluded').html('Not voting');
                  } else {
                    indicator.children('.score').children('.indicator-excluded').html('&nbsp;');
                  }

                  indicator.css('background', colour);
                });

    $('.cancel-comment').on('click', function(e) {
      e.preventDefault();
      var indicator = $(this).parents('div[class*="indicator"]');
      indicator.find('.indicator-comment').val('');
      indicator.children('.modal').modal('hide'); 
    });
    $('.save-comment').on('click', function(e) {
      e.preventDefault();
      var indicator = $(this).parents('div[class*="indicator"]');
      indicator.children('.modal').modal('hide'); 
    });
  });
</script>