  <h2>
    Ratings for <%= @iteration.name %>
 </h2>

  <%= form_tag(project_ratings_path(project_id: @project.id)) do%>
  
  	<% @indicators_by_category.each_pair do |category,indicators| %>
	  	<%= field_set_tag category.name do %>
	  		<% indicators.each do |indicator| %>
	  			<div class="field">
	  				<%= label_tag indicator.name%>
	  				<% unless indicator.description.to_s.empty? %>
	  					<p><%= indicator.description %></p>
  					<% end %>
	  				<%= text_field_tag("scores[#{indicator.id}]", '', :class => "rating", :type => "number", "data-clearable" => "&nbsp;", "data-max" => "5", "data-min" => "1") %>
	  				<%= text_area_tag("comments[#{indicator.id}]", '', :class => "indicator-comment", :placeholder => "Comments") %>
	  			</div>
	  		<% end %>
		<% end %>
	<% end %>
	
    <%= submit_tag('Vote') %>
  <% end %>
