<%= form_for(@project) do |f| %>
  <%= render(:partial => "shared/error_pane", :locals => {object: @project})%>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.submit %>
<% end %>
