
<div class="container">
<h2>Project Dashboard</h2>
<p id="notice"><%= notice %></p>

<div class="row span12">
  <strong>Name:</strong>   <%= @project.name %>

</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<h3>Activate Next Span</h3>
  <%= form_for([@project,@iteration], :html => { class: "form-inline" }) do |f| %>
      <div class="row">
        <div class="span4">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Activate", class: "btn btn-large btn-primary" %>
        </div>
      </div>

  <% end %>


</div>
