
<div class="container">
<h2>Project Dashboard</h2>
<div class="well">
<h3>Project Details</h3>

<div class="row span12 row col-md-offset-1">
  <strong>Name:</strong>   <%= @project.name %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> 
</div>

<div class="well">
<h3>Project Indciators</h3>  
<p id="notice"><%= notice %></p>


  <%= form_tag(project_update_indicators_path(@project), :method => "post") do %>

        <%@indicators.each do |indicator|%>
          <div class="row">
            <%= check_box_tag(indicator.name,indicator.name,@project.project_has_indicator(indicator))%><%=indicator.name%>
          </div>
        <%end%>
        <div class="span2 offset9">
          <%= submit_tag("Update Indicators",:class => "btn btn-primary btn-bold btn-large span2") %>
        </div>
      </div>
  <% end %>
</div>


<div class="well">
<h3>Spans</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spans.each do |span| %>
      <tr>
        <td><%= span.name %></td>
        <td><%= span.determine_start_of_span %></td>
        <td><%= span.created_at.strftime('%e-%m-%y %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>



      <div class="row col-md-offset-1">
  <%= form_for([@project,@span], :html => { class: "form-inlixcdne" }) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Activate Span", class: "btn btn-large btn-primary" %>


  <% end %>
        </div>

</div>
<%= link_to 'Back', projects_path %>


