<h2>Project Dashboard</h2>
	<% if notice %>
		<div class="panel panel-success">
  			<div class="panel-heading"><%=notice%></div>
  		</div>
	<%end%>

  <div class="well">
	  <h3>Details</h3>
	
	  <%= render 'form' %>
  </div>

  <div class="well">
	<h3>Indicators</h3>  
	
	<%= form_tag(project_update_indicators_path(@project), :method => "post") do %>
	  <%@indicators_by_category.each_pair do |category,indicators|%>
	  	<%= field_set_tag category.name do %>
	  		<%indicators.each_with_index do |indicator,index|%>
	  			<label class="checkbox-inline">
	  				<%= check_box_tag("indicators[]", indicator.id, @project.project_has_indicator(indicator))%> <%=indicator.name%>
	  			</label>
	  		<%end%>
	  	<%end%>
	  <%end%>
	  
	  <div class="actions">
	    <%= submit_tag("Update Indicators") %>
	  </div>
	<% end %>
  </div>
  
  
  <div class="well">
		<h3>Staff</h3>
		<%= form_tag(project_update_users_path(@project), :method => "post") do %>
			<%@users.each_with_index do |user,index|%>
				<label>
					<div class="person thumbnail">
							<img alt="" src="<%= user.picture_url %>" /> 
							<%= check_box_tag("users[]", user.id, @project.users.include?(user))%> 
							<%= user.first_name %>	<%= user.last_name %>
					</div>
				</label>
			<%end%>
			<div class="clearfix"> </div>
			<div class="actions">
				<%= submit_tag("Update Staff") %>
			</div>
		<% end %>
  </div>


  <div class="well">
  <h3>Iterations</h3>

  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @iterations.each do |iteration| %>
        <tr>
          <td><%= iteration.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= form_for([@project, @iteration]) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "New Iteration", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>

<%= link_to project_dashboard_index_path(@project), html_options = {class: "btn"} do %>
  <i class="fa fa-dashboard">View Dashboard</i>
<% end %>

<%= link_to project_ratings_path(@project), html_options = {class: "btn"} do %>
  <i class="fa fa-bar-chart-o">Rating</i>
<% end %>




