<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>



<div>



  <%= form_for([@project,@iteration]) do |f| %>
      <div class="row">
        <div class="span2">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="span2 offset9">
      	  <%= f.submit "Create Span", class: "btn btn-large btn-primary" %>
      </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
