<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>


<div id="load_audit">
  <%= form_tag(project_iterations_path(@project), :method => "post") do %>
      <div class="row">
        <div class="span2">
          <%= label_tag(:span_name, "Span name") %>
          <%= text_field_tag(:span_name) %>
        </div>
      </div>
      <div class="span2 offset9">
          <%= submit_tag("Create Span", id: "load_for_audit", :class => "btn btn-primary btn-bold btn-large span2") %>
      </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
