<%= form_for(@iteration) do |f| %>
  <%= render(:partial => "shared/error_pane", :locals => {object: @iteration})%>

  <div class="field">
    <%= f.label :project_id, "Project" %>
    <%= select(:iteration, "project_id", Project.all.collect {|project| [ project.name, project.id ] }, {include_blank: ''})%>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :sort_order %>
    <%= f.number_field :sort_order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
