<h1>Iterations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Sort order</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @iterations.each do |iteration| %>
      <tr>
        <td><%= iteration.name %></td>
        <td><%= iteration.status %></td>
        <td class="actions">
        	<%= link_to 'Show', iteration, class:"detail" %>
        	<%= link_to 'Edit', edit_iteration_path(iteration), class:"edit" %>
        	<%= link_to 'Destroy', iteration, method: :delete, data: { confirm: 'Are you sure?' }, class:"destroy" %>
    	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iteration', new_iteration_path, class:"new" %>
