<h1>Listing indicators</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th><abbr title="Sort Order">Odr</abbr></th>
			<th>Name</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @indicators.each do |indicator| %>
		<tr>
			<td><%= indicator.sort_order %></td>
			<td><%= indicator.name %></td>
			<td><%= indicator.description %></td>
			<td class="actions">
				<%= link_to 'Show', indicator, class:"detail" %>
				<%= link_to 'Edit', edit_indicator_path(indicator), class:"edit" %>
				<%= link_to 'Destroy', indicator, method: :delete, data: { confirm: 'Are you sure?' }, class:"destroy" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Indicator', new_indicator_path, html_options = {class: "new"}%>
