<%= form_for(@category) do |f| %>
  <%= render(:partial => "shared/error_pane", :locals => {object: @category})%>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
