<!DOCTYPE html>
<html>
<head>
  <title>Project Health</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
